.water {
    width: 100%;
    height: 100%;
    padding: 30px 0px;

    .faucet-image {
        width: 200px;
        height: 200px;
    }

    .point-image {
        width: 35px;
    }

    .circles {
        position: relative;
        width: 100%;

        .circle {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 1px solid rgb(164, 164, 255);
            margin-top: 200px;
            padding: 10px;
            transform: scale3d(9, 1, 10);
            animation-name: waterPointScale;
            animation-duration: 2s;
            animation-direction: alternate;
        }
    }
}


/* Water point animation */
@keyframes waterPointScale {
    from {
        width: 10px;
        height: 10px;
    }

    to {
        width: 80px;
        height: 50px;
    }
}



/* Responsive on 1200px */
@media (max-width : 1200px) {
    .point-image {
        position: relative;
        left: 20px;
    }
}


/* Responsive on 600px */
@media (max-width : 600px) {
    .point-image {
        position: relative;
        left: 50px;
    }

    .circles {
        .circle {
            @keyframes waterPointScale {
                to {
                    width: 40px;
                }
            }
        }
    }
}